/*backgorund styling*/
body	{
	background-image:url(../img/wood_pattern.png);
}

.container	{
	background-color:white;
}
/* END backgorund styling*/


#scrollUp {
bottom: 20px;
right: 32px;
width: 38px;
height: 38px;
background: url(../img/top.png) no-repeat;
}

a#scrollUp	{
	
	text-decoration: none;
}


a.thumbnail>img {color:white;}



.tooltip	{

	position:absolute;
	border:1px solid #333;
	background-color:#f2f2f0;
	border-radius:10px;
	padding:10px;
	font-size:14px;
	font-family: 'Ubuntu', sans-serif;font-weight:300; 
}



h6 {
	font-size:20px;
	font-family: 'Federo', sans-serif;
	color:#f2f2f0;
	margin-left:9px;
	color:#ad9563;


}

div#iPicture 	{
	font-size:14px;
	font-family: 'Ubuntu', sans-serif;font-weight:300;
	color:#f2f2f0;
}

small	{
	font-size:10px;
	float:right;
	margin-right:9px;
}


.thumbnails	{
	margin-right: 41px;
	margin-top:16px;
}


li	{
	list-style-type:none;
	
}

.logo	{
	float:right;
	margin-top: -16px;
	margin-right: 24px;
}



h1	{
	font-family: 'Federo', sans-serif;
	font-size:25px;
	margin-top: -71px;
	margin-right: 419px;
	color:#730d0d;
	text-align: right;
}

.title2	{
	font-family: 'Federo', sans-serif;
	font-size:80px;
	margin-left:145px;
	margin-top:33px;
	
}

.tabs	{
	font-family: 'Federo', sans-serif;
	font-size:20px;
	color:#ad9563; 
	
}

.tabbable {
	margin-top: -10px;
}

.tab-content {
	overflow:hidden;
}



.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
	color:#730d0d;
	font-size: 25px;
}

.aboutus	{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-right: 86px;
	margin-left: 12px;
	margin-top: 1px;
	margin-bottom: 40px;
}
	
.nav-tabs {
	width: 94%;
}


address	{
	font-family: 'Ubuntu', sans-serif;font-weight:400; 
}


#visit	{
	margin-left: 39px;
	margin-top: 5px;
}

#hours	{
	loat: right;
	margin-top: 5px;
}

#follow	{
	margin-right: -39px;
	margin-top: 5px;
	
}


a {
	color: #000;
	text-decoration:none;
		
}

a:hover	{
	color:#ede3c8;
	text-decoration:none;
	
}

.nav>li>a:hover {
text-decoration: none;
background-color:#730d0d; 
}



h2	{
	font-family: 'Federo', sans-serif;
	font-size:55px;
	color:#730d0d;
	text-align:left;
	margin-right: 55px;
	margin-bottom: 30px;
	margin-top: 35px;
	margin-left: -19px;
	
}


h3	{
	font-family: 'Ubuntu', sans-serif;font-weight:500; 
	font-size:20px;
	color:#ad9563;
	margin-left: 172px;
	margin-top: 21px;
	margin-bottom: -73px;
	
}


h5 	{
	font-family: 'Ubuntu', sans-serif;font-weight:500; 
	font-size:20px;
	color:#ad9563;

	
	
}

h4	{
	font-family: 'Federo', sans-serif;
	font-size:30px;
	color:#ad9563; 
	text-align: left;
	margin-right:97px;
	margin-bottom: 20px;
	margin-left: -19px;
	
}




img.main	{
	margin-top: 31px;
	margin-left: 88px;
	border-style:solid;
	border-width:5px;
	border-color:#ede3c8;
	
	
}


.top	{
	margin-left:-23px;
	margin-bottom: 42px;
	margin-top: -29px;
	


	}


.sep	{
	margin-left: 76px;
	margin-top: 2px;
	margin-bottom: 23px;
}

.bottom	{
	margin-left:-1px;
	margin-bottom:15px;
	margin-top: 31px;

}

